#cenik {
	h3{
		text-transform:uppercase;
		margin:{
		bottom: 0.15em;
		}
	}
	
	.col_left{
		float: left;
		width: 460px;
		margin:{
			right: 20px;
			}
	}
	.col_right{
	float: left;
	width: 460px;
	}
	
	ul {	
		em{
			font-style: normal;
			position: absolute;
			color: red;
			right: 0; 
			bottom: -.2em;
			padding:{
				left: 0.5em;
				}
			background: #f9f9f9;
			}
		strong{
			position: relative;
			font-weight: normal;
			bottom: -.2em;
			background: #f9f9f9;
			padding:{
				right: 0.5em;
				}
			}
		
		list-style-type: none;
		line-height: 1.5em;
	
		li{
			
			position:relative;
			background: url(../../images/dot.png) repeat-x left bottom;
		}
		margin:{
			bottom: 2em;
			}
	
	}
	
}