@import url("style_salon.css");
@import url("style_kontakt.css");
* {
  margin: 0;
  padding: 0; }

body {
  background-color: #f9f9f9;
  text-rendering: optimizeLegibility;
  font-family: arial;
  font-size: 16px; }

#all {
  margin: 0 auto;
  width: 960px; }

@font-face {
  font-family: myf;
  src: url("../fonts/HelveticaNeueLTPro-Lt.otf"); }

h1 {
  font-family: myf,sans-serif; }

.myh2 {
  font-family: myf,sans-serif;
  font-size: 25px;
  padding-bottom: 0.7em; }

.head_pobocka {
  font-size: 20px;
  padding: 0;
  margin: 0; }

.headtitle {
  font-family: myf,sans-serif;
  font-size: 28px; }

#nav ul {
  list-style-type: none;
  padding-top: 25px; }
#nav li {
  padding-right: 50px;
  font-size: 20px;
  display: inline; }

#menu_line {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #efefef;
  padding: 0; }

.content {
  background-color: #dedede; }

#head {
  height: 215px; }

.logo img {
  display: block;
  padding-top: 42px; }

.fastcont {
  float: right;
  color: #6d6d6d;
  display: inline;
  margin-top: 28px;
  margin-right: 10px; }
  .fastcont img {
    margin-right: 18px; }

#slideshow {
  background-color: #d6d6d6;
  height: 278px; }

.align_box {
  padding-left: 10px;
  padding-right: 10px; }

#left_cont {
  width: 540px;
  float: left;
  margin-right: 20px; }

#right_cont {
  float: left;
  width: 380px; }

.content_line {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cacaca;
  margin: 1em 0;
  padding: 0; }

.clear_v {
  clear: both; }

.ideacol_1 {
  width: 300px;
  margin-right: 20px;
  float: left; }

.ideacol_2 {
  width: 300px;
  margin-right: 20px;
  float: left;
  margin: 0; }

#foot {
  background-image: url("../../images/foot_up_shadow.png");
  background-repeat: repeat-x;
  margin: 0 auto;
  color: #f9f9f9;
  width: 960px;
  background-color: #7b7b7b;
  height: 202px; }

#long_foot {
  background-image: url("../../images/foot_up_shadow.png");
  background-repeat: repeat-x;
  width: 100%;
  background-color: #7b7b7b;
  height: 202px; }

#our_salons {
  float: left;
  margin-top: 20px;
  width: 300px; }

#contact_us {
  width: 380px;
  float: left;
  margin-top: 20px; }

.left_cont {
  width: 50%;
  float: left;
  line-height: 150%;
  font-size: 14px; }

.foot_title {
  padding-bottom: 12px; }

#follow_us {
  width: 220px;
  float: left;
  margin-top: 20px; }

.adress_f {
  font-size: 12px;
  margin-top: 25px; }
  .adress_f p {
    margin-bottom: 3px; }

.vertical_foot_line {
  height: 202px;
  float: left;
  margin-left: 9px;
  margin-right: 9px; }

.foot_line {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #acacac; }

#facebook {
  background-color: #686868;
  padding: 25px 20px 0px 8px;
  border-radius: 6px;
  -moz-border-radius: 6px; }
  #facebook img {
    margin-top: 25px; }
  #facebook:hover {
    background-color: #2c4184; }

#copyright {
  background-color: #656565;
  height: 33px;
  width: 100%; }

#whyus {
  margin-top: 50px;
  padding-bottom: 100px; }

.circle_box {
  color: #4b4b4b;
  width: 300px;
  height: 170px;
  background-image: url("../../images/why_icon.png");
  background-repeat: no-repeat;
  background-position: top center;
  text-align: center; }
  .circle_box p {
    padding-top: 27px;
    padding-bottom: 13px; }

#behind_circle_line {
  margin: 0 auto;
  z-index: -1;
  width: 650px;
  height: 78px;
  background-image: url("../../images/why_vertical_line.png");
  background-repeat: repeat-x;
  background-position: center center; }

.why_text {
  font-family: myf,sans-serif;
  font-size: 29px;
  color: #ff3971; }
